body {
    margin: 0;
    max-width: 1440px;
    margin: auto;
    background-color: #9DBEBB;
}

.layout {
    min-width: 1440px;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-block {
    width: 609px;
    height:594px;
    background-color: #BE0909; 
    display: flex;
}

.yellow-block {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
    display: flex;
    position: relative;
}

.text {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 30%;
}

.title-message, .title-name, .title-email, .title-messageR {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 10%;
}

.information {
    max-width: 609px;
    max-height:594px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
    margin-top: 30px;
}

.line {
    margin-bottom: 20px;
}

.name {
    width: 400px;
    height: 72px;
}

.li1 {
    width: 400px;
    height: 1px;
    background-color: #9DBEBB;
}


.email {
    width: 160px;
    height: 72px;
    margin-bottom: 10px;
}

.li2 {
    width: 160px;
    height: 1px;
    background-color: #9DBEBB;
}

.regarding {
    width: 213px;
    height: 72px;
}

.li3 {
    width: 160px;
    height: 1px;
    background-color: #9DBEBB;
}


.message {
    width: 400px;
    height: 72px;
    margin-bottom: 10px;
}
/*
.dropdown-content {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    display:flex;
}

.dropdown-content:hover, .content {
    display: block;
}
*/
.li4 {
    width: 400px;
    height: 1px;
    background-color: #9DBEBB;
}

.send {
    background-color: #468189;
    width: 202px;
    height: 48px;
    border-radius: 40px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 10%;
    color: #FFFFFF;
    border:none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 40px;
}

.send:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2f5c62;
}

.duck {
    min-width: 663px;
    height: 603px;
    display: inline-block;
    position: absolute;
    right: -70px;
    top: 50px;
}
