body {
    margin: 0;
    max-width: 1440px;
    margin: auto;
    background-color: #9DBEBB;
}

.layout {
    min-width: 1440px;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-block {
    width: 609px;
    height:594px;
    background-color: #BE0909; 
    display: flex;
}

.yellow-block {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
    position: relative;
}

/* CSS for multiple areas (font, color, line, flexboxes) */

.information {
    max-width: 609px;
    max-height:594px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
    margin-top: 30px;
}

.line {
    margin-bottom: 20px;
}
.your {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FEFFFF;
}

.title-message, .title-name, .title-email, .title-messageR {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 10%;
}

.your::placeholder {
    color: #FEFFFF;
    letter-spacing: 30%;
    opacity: 0.7;
}

/* Full name */

.name {
    width: 400px;
    height: 72px;
}

.li1 {
    width: 400px;
    height: 1px;
    background-color: #9DBEBB;
}

.name-text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 30%;
    width: 97%;
    height: 20px;
    background-color: #BE0909;
    border: none;
    margin-top: 37px;
    margin-left: 5px;
    cursor: text;
}

/* Email */

.email {
    width: 160px;
    height: 72px;
}

.li2 {
    width: 160px;
    height: 1px;
    background-color: #9DBEBB;
}

.email-text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 30%;
    width: 97%;
    height: 20px;
    background-color: #BE0909;
    border: none;
    margin-top: 37px;
    margin-left: 5px;
    cursor: text;
}

/* Message regarding (option drop-down) */

.regarding {
    width: 213px;
    height: 72px;
    position: relative;
}

.select {
    height: 25px;
    width: 80px;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    border:none;
    background-color: #BE0909;
    color:#FEFFFF;
    cursor: pointer;
    width: 107%;
    margin-top: 37px;
    margin-left: 5px;
/* Taking away the drop-down pointer */
    -webkit-appearance: none;
    appearance: none;
}

.select-down {
    position: absolute;
    top: 62px;
    right: -15px;
    background-color: #BE0909;
    color: #FFB039;
}

.li3 {
    width: 230px;
    height: 1px;
    background-color: #9DBEBB;
}

/* Message area (longer text) */
.message {
    width: 400px;
    height: 72px;
}

.li4 {
    width: 400px;
    height: 1px;
    background-color: #9DBEBB;
}

.message-text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FEFFFF;
    letter-spacing: 30%;
    width: 97%;
    height: 27px;
    background-color: #BE0909;
    border: none;
    margin-left: 5px;
    cursor: text;
    resize: none;
    padding-top: 2em;
}

/* button and image */
.send {
    background-color: #468189;
    width: 202px;
    height: 48px;
    border-radius: 40px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 10%;
    color: #FFFFFF;
    border:none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 40px;
}

.send:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2f5c62;
}

.duck {
    width: 663px;
    height: 603px;
    position: absolute;
    top: 50px;
    right: -45px;
}